$clr-primary-body: #F0F8FF;
$clr-main-card:white;
$clr-primary-blue: #2075fe;
$clr-primary-red: #CE2029;
$clr-primary-green: #00FF40;
$clr-primary-yellow: #FFBF00;
$clr-main-heading: #1B1B1B;
$clr-main-pargraph: #848482;
$clr-bg-link: #F2F3F4;
$clr-main-gray:#F6F6F6;
$clr-border:#dddddd;